# Diabetes Prediction using Support Vector Machine

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

C:\Users\aayus\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=pd.read_csv('diabetes.csv')

In [3]:
df.head(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1

In [4]:
df.shape

(767, 9)

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.848761,120.930900,69.104302,20.522816,79.903520,31.994654,0.472081,33.254237,0.349413
std,3.370207,31.977581,19.368410,15.958143,115.283105,7.889095,0.331496,11.762079,0.477096
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.374000,29.000000,0.000000
75%,6.000000,140.500000,80.000000,32.000000,127.500000,36.600000,0.626500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
# now getting the outcome data
df['Outcome'].value_counts()

Outcome
0    499
1    268
Name: count, dtype: int64

0-->Not diabetes patient
1-->Diabetes patient

In [8]:
#seperating the input and output
X=df.drop(columns='Outcome',axis=1)
Y=df['Outcome']

In [9]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47

In [10]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
762    0
763    0
764    0
765    0
766    1
Name: Outcome, Length: 767, dtype: int64

In [11]:
#now strandardization of data
scaler=StandardScaler()

In [12]:
scaler.fit(X)

StandardScaler()

In [13]:
standard_data=scaler.transform(X)

In [14]:
standard_data

array([[ 0.63872696,  0.8470548 ,  0.14960376, ...,  0.20362197,
         0.467638  ,  1.42463671],
       [-0.84582934, -1.124361  , -0.16038116, ..., -0.6842578 ,
        -0.36549383, -0.19177802],
       [ 1.23254948,  1.9422858 , -0.26370947, ..., -1.10282969,
         0.60347471, -0.10670356],
       ...,
       [-0.54891808,  0.03345463,  0.04627545, ...,  0.60950986,
        -0.39869836, -0.53207586],
       [ 0.3418157 ,  0.00216231,  0.14960376, ..., -0.73499379,
        -0.68546474, -0.27685248],
       [-0.84582934,  0.15862388, -0.47036608, ..., -0.24031791,
        -0.37153101,  1.16941333]])

In [15]:
X=standard_data
Y=df['Outcome']

In [16]:
X

array([[ 0.63872696,  0.8470548 ,  0.14960376, ...,  0.20362197,
         0.467638  ,  1.42463671],
       [-0.84582934, -1.124361  , -0.16038116, ..., -0.6842578 ,
        -0.36549383, -0.19177802],
       [ 1.23254948,  1.9422858 , -0.26370947, ..., -1.10282969,
         0.60347471, -0.10670356],
       ...,
       [-0.54891808,  0.03345463,  0.04627545, ...,  0.60950986,
        -0.39869836, -0.53207586],
       [ 0.3418157 ,  0.00216231,  0.14960376, ..., -0.73499379,
        -0.68546474, -0.27685248],
       [-0.84582934,  0.15862388, -0.47036608, ..., -0.24031791,
        -0.37153101,  1.16941333]])

In [17]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
762    0
763    0
764    0
765    0
766    1
Name: Outcome, Length: 767, dtype: int64

In [18]:
#now split the train and test data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

In [19]:
X.shape,X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((767, 8), (613, 8), (154, 8), (613,), (154,))

In [20]:
#train the model
classifer=svm.SVC(kernel='linear')

In [21]:
#train the model
classifer.fit(X_train,Y_train)

SVC(kernel='linear')

In [22]:
#model evaluation
#accuracy score
X_train_prediction=classifer.predict(X_train)
train_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [23]:
print('acuracy score :',train_data_accuracy)

acuracy score : 0.7928221859706363

In [24]:
X_test_prediction=classifer.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [25]:
print('accuracy score:',test_data_accuracy)

accuracy score: 0.7012987012987013

In [29]:
#making the predictive system
input_data=(4,136,70,0,0,31.2,1.182,22
)
input_data_as_array=np.asarray(input_data)
#reshape the array
input_data_as_reshaped=input_data_as_array.reshape(1,-1)
#standardized the input data
std_data=scaler.transform(input_data_as_reshaped)
print(std_data)

[[ 0.04490444  0.47154703  0.04627545 -1.28687953 -0.69355921 -0.10079395
   2.14295742 -0.95744816]]

C:\Users\aayus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [30]:
prediction=classifer.predict(std_data)

In [31]:
print(prediction)

[1]

In [32]:
if(prediction=='0'):
    print("The person is not diabetic")
else:
    print('The person is Diabetic')

The person is Diabetic

In [33]:
import pickle

In [34]:
pickle.dump(prediction,open('Diabetic.pkl','wb'))